numpy>=1.23
pandas
scikit-learn>=1.3

xgboost>=2.0
textblob>=0.17.0

fairlearn>=0.10.0
aif360>=0.5.0

matplotlib>=3.7
statsmodels>=0.14
plotly==5.18.0

fastapi
uvicorn[standard]==0.24.0
pydantic
python-multipart==0.0.6
python-dotenv==1.0.0
starlette

motor==3.3.2
pymongo==4.6.0

protobuf>=5.28.0
torch==2.10.0
transformers>=4.44.0
sentence-transformers>=2.7.0
datasets>=2.19.0
accelerate>=0.20.0
tf-keras>=2.15.0

spacy
keybert==0.8.3
nltk==3.8.1
bert-score==0.3.13

# scikit-learn==1.3.2
# xgboost==2.0.2
# fairlearn==0.9.0

# pandas==2.1.3
# numpy==1.26.2

pymupdf==1.23.8
python-docx==1.1.0
pywin32>=306  # For DOC file support (Windows only)

streamlit>=1.32.0
plotly==5.18.0

python-dateutil==2.8.2
tqdm==4.66.1
joblib==1.3.2
openpyxl==3.1.2

# pywin32; sys_platform == 'win32'
pi
